<div class='panel panel-primary'>

  <div  class='panel-heading' *ngIf='getCategories() && getCategories().length'>{{tableHeader}}</div>

  <div class='table-responsive'>
    <table class='table'>
      <thead>
          <tr>
              <th>Id</th>
              <th>Name</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let category of getCategories()'>
            <td>{{category.id}}</td>
            <td> <a [routerLink]="['/categorydetails', category.id]">
                {{category.name}}
                </a>
            </td>
            <td><button class='btn btn-primary' (click)='showDetails(category)'>Details</button></td>
          </tr>
      </tbody>
    </table>
  </div>

</div>
