<div class='panel panel-primary' *ngIf='category'>
    <div class='panel-heading' style='font-size:large'>
        {{category.name }}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Name:</div>
                    <div class='col-md-6'>{{category.name}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Id:</div>
                    <div class='col-md-6'>{{category.id}}</div>
                </div>
            </div>

        </div>
    </div>
    <div class='panel-footer'>
        <a class='btn btn-default' (click)='backToList()' style='width:180px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back to list
        </a>
    </div>
</div>
