  <div>
      <nav class='navbar navbar-default'>
          <div class='container-fluid'>
              <a class='navbar-brand'>{{pageTitle}}</a>
              <ul class='nav navbar-nav'>
                  <li><a [routerLink]="['/products']">Products</a></li>
                  <li><a [routerLink]="['/categories']">Categories</a></li>
              </ul>
          </div>
      </nav>
      <div class='container'>
          <router-outlet></router-outlet>
      </div>
   </div>