<div class='panel panel-primary'>
    <form>
      <div class="form-group">
        <label for="productName">Name</label>
        <input type="text" class="form-control" id="productName" [(ngModel)]='product.name'>
      </div>
      <div class="form-group">
        <label for="productPrice">Price</label>
        <input type="text" class="form-control" id="productPrice" [(ngModel)]='product.price'>
      </div>
      <div class="form-group">
        <label for="productCategory">Category</label>
        <select class="form-control" id="productCategory" [(ngModel)]='product.categoryId'>
            <option *ngFor='let category of categories' [value]='category.id'>{{category.name}}</option>
        </select>
      </div>

      <div class='panel-footer'>
        <a class='btn btn-default' (click)='backToList()' style='width:180px'>
          <i class='glyphicon glyphicon-chevron-left'></i> Back to list
        </a>
        <a class='btn btn-default' (click)='submit()' style='width:180px'>
          <i class=''></i> Submit
        </a>
        <!-- <button type="submit" class="btn btn-default"  style='width:160px'>Submit</button> -->
      </div>
    </form>
</div>
