<div class='panel panel-primary'>

  <div  class='panel-heading' *ngIf='getProducts() && getProducts().length'>{{tableHeader}}</div>

  <div class='table-responsive'>

    <table class='table'>
      <thead>
          <tr>
              <th>Name</th>
              <th>Id</th>
              <th>Price</th>
              <th>Category</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let product of getProducts()'>
            <td> <a [routerLink]="['/productdetails', product.id]">
                {{product.name}}
                </a>
            </td>
            <td>{{product.id}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category.name}}</td>
            <td><button class='btn btn-primary' (click)='showDetails(product)'>Details</button></td>
          </tr>
      </tbody>
    </table>

  </div>
      <div class='panel-footer'>
        <a class='btn btn-default' (click)='newProduct()' style='width:140px'>
            <i class='glyphicon glyphicon-plus'></i> Add New
        </a>
    </div>

</div>
